.actions {
    padding: 20px 40px 20px 40px;
    .items-title {
        padding-bottom:10px;
        width: 20%;
        font-size: 1.5vw;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        border-bottom:solid 2px black;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .items-content {
        display: flex;
    }
    .items-btn__block {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        width: 100%;

        .items-btn__seeMore {
            text-align: center;
            color:black;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    .error {
        display: none;
    }
}

