.footer {
    max-width: 1440px;
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom:0;
    background-color:orange;
    .footer-title {
        margin: 10px 10px;
        text-transform: uppercase;
        color: white;
    }
}